@page "/edittask"
@inject NavigationManager NavigationManager
@inject TasksClient TasksClient

<PageTitle>New Task</PageTitle>
<h3>New Task</h3>

<div class="row">
    <div class="col-md-5">
        <EditForm Model="@task" FormName="editTask" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <InputText id="title" @bind-Value="task.Title" class="form-control"/>
                <ValidationMessage For="() => task.Title" />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <InputText id="description" @bind-Value="task.Description" class="form-control"/>
                <ValidationMessage For="() => task.Description" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a role="button" class="btn btn-secondary" href="/">Cancel</a>
        </EditForm>
    </div>
</div>


@code 
{
    [SupplyParameterFromForm]
    private TaskDetails task {get; set;} = new()
    {
        Title = string.Empty,
        Description = string.Empty
    };

    private void HandleSubmit()
    {
        TasksClient.AddTask(task);
        NavigationManager.NavigateTo("/"); //volta para a pagina inicial
    }
}
